@import "../globalVar.module.css";

.signup_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_wrap_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 10px 0;
}

.profileImage_wrap {
  background-color: lightblue;
}

.profileImage_input_wrap {
  background-color: lightcoral;
}

.previewImage_upload_label {
  background-color: lightcyan;
}

.nickName_input_wrap {
  background-color: lightgoldenrodyellow;
}

.nickName_input {
  background-color: lightgray;
}