.findId_page {
  /* background-color: lightblue; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.findId_title_wrap {
  /* background-color: lightcoral; */
  width: 100%;
}

.findId_content_wrap {
  /* background-color: lightcyan; */
  border: 1px solid var(--line-color);
  border-radius: var(--box-radius-value);
  box-sizing: border-box;
  width: 75%;
  padding: 5px 15px;
}

.name_input,
.emailId_input,
.emailDomain_input,
.certificationNumber_input,
.sendEmail_button,
.certificationNumberCheck_button,
.cancel_button,
.find_button {
  border: 1px solid var(--line-color);
  border-radius: var(--box-radius-value);
}

.name_input_wrap,
.email_wrap,
.certification_input_wrap {
  width: 100%;

  margin: 8px 0;
}

.name_input,
.emailId_input,
.emailDomain_input,
.certificationNumber_input {
  width: 105px;
  height: 30px;
  padding-left: 5px;
}

.name_label,
.email_label,
.certificationNumber_input_label {
  margin-left: 5px;
}

.name_input_wrap {
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}

.email_wrap {
  /* background-color: lightseagreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.email_input_wrap {
  /* background-color: lightgray; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sendEmail_button,
.certificationNumberCheck_button {
  background-color: white;
  width: 80px;
  height: 34px;
  margin-left: 8px;
}

.sendEmail_button:hover,
.certificationNumberCheck_button:hover {
  background-color: var(--hover-color);
}

.certification_input_wrap {
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.certification_bottom_input_wrap {
  /* background-color: lightgrey; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certificationNumberCheck_button_div {
  /* background-color: lightpink; */
  height: 36px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer_wrap {
  margin-left: 22px;
}

.certificationNumberCheck_button_wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.findId_bottom_button_wrap {
  /* background-color: lightblue; */
  width: 75%;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.cancel_button,
.find_button {
  background-color: white;
  width: 70px;
  height: 30px;
}

.cancel_button:hover {
  background-color: var(--hover-color);
}

.actived_button:hover,
.cancel_button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}