.findIdResult_page {
  /* background-color: lightblue; */
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.findIdResult_title_wrap {
  /* background-color: lightcoral; */
  width: 100%;
}

.findIdResult_result_wrap {
  border: 1px solid var(--line-color);
  border-radius: var(--box-radius-value);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 50%;
}

.foundId_result{
  font-size: 25px;
}

.findIdResult_button_wrap {
  /* background-color: lightcyan; */
  width: 75%;
  margin: 15px 0 25px 0;
  display: flex;
  justify-content: space-between;
}

.reFind_button,
.close_button {
  background-color: white;
  border: 1px solid var(--line-color);
  border-radius: var(--box-radius-value);
  width: 80px;
  height: 34px;
  /* margin-left: 8px; */
}

.reFind_button:hover,
.close_button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}