@import "globalVar.module.css";

.main_page {
  width: 100%;
  height: 100%;
  min-width: var(--min-width-value);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 10px;
}

.main_content {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 60px;
}

.category_wrap {
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--line-color);
  border-radius: var(--box-radius-value);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.orderByLatest_product_area {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.orderByLatest_product_title_wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.orderByLatest_product_title {
  text-align: start;
  padding: 0;
  margin: 0;
}

.orderByLatest_product_box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

.shorts_area {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.shorts_area_title_wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.shorts_area_title {
  text-align: start;
  padding: 0;
  margin: 0;
}

.shorts_box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

.moreProductView_button,
.moreShortsView_button {
  background-color: transparent;
  width: auto;
  height: 100%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.moreProductView_button:hover,
.moreShortsView_button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}
